/* general css */

#header, #main, #footer {
  inline-size: min(1140px, 90%);
}

#main{
  gap:5rem;
}

/* start header */

#header {
  font-size: 1.2rem;
  gap: 1rem;
  padding-block-start: 0.5rem;
}

/* end header */

/* start popular game */

.popular-game ul::-webkit-scrollbar {
  block-size: 0;
}

.popular-game, .offer .carousel {
  position: relative;
}

.popular-game button, .offer .carousel :is(button.right, button.left) {
  position: absolute;
  inset-block-start: 50%;
  transform: translateY(-50%);
  background-color: hsl(225, 28%, 30%);
  border-radius: 50%;
  inline-size: 5rem;
  block-size: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popular-game button.right, .offer .carousel button.right {
  inset-inline-end: -2.5rem;
  z-index: 1;
}

.popular-game button.left, .offer .carousel button.left {
  inset-inline-start: -2.5rem;
}

.popular-game ul, .offer .carousel ul {
  overflow-x: auto;
  gap: 2rem;
}

.popular-game ul li {
  background-color: var(--dark-purple);
  border-radius: 1.4rem;
  min-inline-size: 21rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block-start: 3rem;
  padding-block-end: 1rem;
}

.popular-game ul li img {
  inline-size: 50%;
  border-radius: 50%;
  padding-block-end: 1rem;
}

.popular-game ul li p, .offer .carousel ul li .description p, .offer .carousel ul li .description del {
  color: var(--dark-white);
  padding-block-start: 0.2rem;
}

.popular-game ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

/* end popular game */

/* start offer */

.offer {
  background-color: hsl(228, 36%, 13%);
  border-radius: 1.4rem;
  padding: 5rem;
  gap: 5rem;
}

.offer .text {
  flex: 3;
}

.offer .text .fa-percent {
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 6rem;
  padding-block-end: 2rem;
}

.offer .text h3 {
  font-size: 3rem;
  font-weight: lighter;
  padding-block-end: 2rem;
}

.offer .text h3 span {
  font-weight: bold;
}

.offer .text a {
  font-size: 1.4rem;
}

.offer .text a {
  gap: 0.5rem;
}

.offer .carousel {
  flex: 7;
  inline-size: 0;
}

.offer .carousel ul {

}

.offer .carousel ul::-webkit-scrollbar {
  block-size: 0;
}

.offer .carousel ul li {
  min-inline-size: 23rem;
  position: relative;
}

.offer .carousel ul li img {
  inline-size: 100%;
  border-radius: 1.4rem;
}

.offer .carousel ul li .description {
  position: absolute;
  inset-block-end: 0.5rem;
  inline-size: 100%;
  block-size: 50%;
  border-radius: 1.4rem;
  background-color: hsla(0, 0%, 0%, 0.73);
  padding: 3rem;
}

.offer .carousel ul li .description .price p {
  color: hsl(0, 0%, 100%);
  font-size: 1.2rem;
}

/* end offer */

/* start footer */

footer {
  background-color: var(--dark-purple);
  padding: 2rem;
}

#footer .title {
  font-size: 2.4rem;
  padding-block-start: 2rem;
}

#footer p {
  font-size: 1.2rem;
  color: var(--dark-white);
  padding-block-end: 2rem;
}

#footer .navigate {
  font-size: 1.2rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
  flex-wrap: wrap;
  gap: 1rem;
}

#footer .navigate ul {
  gap: 2rem;
}

#footer .navigate .social-media li a {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 3rem;
  block-size: 3rem;
  border-radius: 50%;
  background-color: hsl(260, 63%, 58%);
  border: 0.01rem solid hsla(0, 0%, 20%, 0.43);
}

/* end footer */

/* Start Media Queries */

@media only screen and (max-width: 992px) {

  #footer .navigate {
    justify-content: center;
  }
}

@media only screen and (max-width: 576px) {

  #footer .navigate {
    justify-content: center;
  }
}

/* End Media Queries */
