<header class="header">
  <app-upper-header></app-upper-header>

  <app-lower-header [menu]="menu"></app-lower-header>
</header>

<main class="main">
  <app-banner></app-banner>

  <app-popular-game [items]="[
  {image: './assets/images/pubg.webp', title:'بازی پابجی موبایل', description: 'Buy pubg mobile', link: '/'},
  {image: './assets/images/pubg.webp', title:'بازی پابجی موبایل', description: 'Buy pubg mobile', link: '/'},
  {image: './assets/images/pubg.webp', title:'بازی پابجی موبایل', description: 'Buy pubg mobile', link: '/'},
  {image: './assets/images/pubg.webp', title:'بازی پابجی موبایل', description: 'Buy pubg mobile', link: '/'},
  {image: './assets/images/pubg.webp', title:'بازی پابجی موبایل', description: 'Buy pubg mobile', link: '/'}
  ]"></app-popular-game>

  <app-offer-game [items]="[
  {image: './assets/images/callofduty.webp', title: 'خرید پی آر کال آف دیوتی', description: 'buy cp game call of duty mobile', oldPrice: '2,500,000', price: '2,000,000'},
  {image: './assets/images/callofduty.webp', title: 'خرید پی آر کال آف دیوتی', description: 'buy cp game call of duty mobile', oldPrice: '2,500,000', price: '2,000,000'},
  {image: './assets/images/callofduty.webp', title: 'خرید پی آر کال آف دیوتی', description: 'buy cp game call of duty mobile', oldPrice: '2,500,000', price: '2,000,000'},
  {image: './assets/images/callofduty.webp', title: 'خرید پی آر کال آف دیوتی', description: 'buy cp game call of duty mobile', oldPrice: '2,500,000', price: '2,000,000'}
  ]"></app-offer-game>
</main>

<app-footer class="footer"></app-footer>
