<header class="flex column" id="header">
  <app-upper-header></app-upper-header>
  <app-lower-header [menu]="menu"></app-lower-header>
</header>

<main id="main" class="flex column">
  <app-banner></app-banner>
  <app-popular-game [items]="[
  {image: './assets/images/pubg.webp', title:'بازی پابجی موبایل', description: 'Buy pubg mobile', more: 'ادامه مطلب'},
  {image: './assets/images/pubg.webp', title:'بازی پابجی موبایل', description: 'Buy pubg mobile', more: 'ادامه مطلب'},
  {image: './assets/images/pubg.webp', title:'بازی پابجی موبایل', description: 'Buy pubg mobile', more: 'ادامه مطلب'},
  {image: './assets/images/pubg.webp', title:'بازی پابجی موبایل', description: 'Buy pubg mobile', more: 'ادامه مطلب'},
  {image: './assets/images/pubg.webp', title:'بازی پابجی موبایل', description: 'Buy pubg mobile', more: 'ادامه مطلب'}
  ]"></app-popular-game>
  <section class="flex align-center offer">
    <div class="text">
      <i class="fa-solid fa-percent"></i>

      <h3>
        تخفیفات
        <br>
        <span>شگفت انگیز</span>
      </h3>

      <a class="flex align-center" href="#">مشاهده همه<i class="fa-solid fa-arrow-left"></i></a>
    </div>

    <div class="carousel">
      <button class="right">
        <i class="fa-solid fa-arrow-left"></i>
      </button>

      <ul class="flex">
        <li class="">
          <div>
            <img src="./assets/images/callofduty.webp" alt="call of duty banner">

            <div class="flex column align-center space-between-content description">
              <div class="flex column align-center">
                <h3>خرید سی پی کال آف دیوتی موبایل</h3>
                <p>by cp game call of duty mobile</p>
              </div>

              <div class="flex space-between-content full-width">
                <button>
                  <i class="fa-solid fa-cart-shopping"></i>
                </button>

                <div class="flex column price align-end">
                  <del>2,500,000</del>
                  <p>2,000,000</p>
                </div>
              </div>
            </div>
          </div>
        </li>

        <li>
          <img src="./assets/images/callofduty.webp" alt="call of duty banner">

          <div class="flex column align-center space-between-content description">
            <div class="flex column align-center">
              <h3>خرید سی پی کال آف دیوتی موبایل</h3>
              <p>by cp game call of duty mobile</p>
            </div>

            <div class="flex space-between-content full-width">
              <button>
                <i class="fa-solid fa-cart-shopping"></i>
              </button>

              <div class="flex column price align-end">
                <del>2,500,000</del>
                <p>2,000,000</p>
              </div>
            </div>
          </div>
        </li>

        <li>
          <img src="./assets/images/callofduty.webp" alt="call of duty banner">

          <div class="flex column align-center space-between-content description">
            <div class="flex column align-center">
              <h3>خرید سی پی کال آف دیوتی موبایل</h3>
              <p>by cp game call of duty mobile</p>
            </div>

            <div class="flex space-between-content full-width">
              <button>
                <i class="fa-solid fa-cart-shopping"></i>
              </button>

              <div class="flex column price align-end">
                <del>2,500,000</del>
                <p>2,000,000</p>
              </div>
            </div>
          </div>
        </li>

        <li>
          <img src="./assets/images/callofduty.webp" alt="call of duty banner">

          <div class="flex column align-center space-between-content description">
            <div class="flex column align-center">
              <h3>خرید سی پی کال آف دیوتی موبایل</h3>
              <p>by cp game call of duty mobile</p>
            </div>

            <div class="flex space-between-content full-width">
              <button>
                <i class="fa-solid fa-cart-shopping"></i>
              </button>

              <div class="flex column price align-end">
                <del>2,500,000</del>
                <p>2,000,000</p>
              </div>
            </div>
          </div>
        </li>
      </ul>

      <button class="left">
        <i class="fa-solid fa-arrow-right"></i>
      </button>
    </div>
  </section>
</main>

<footer class="flex column align-center full-width">
  <div class="flex column align-center" id="footer">
    <img src="assets/images/icon.webp" alt="game store logo" class="logo grey-background">

    <h3 class="title">فروشگاه بازی</h3>

    <p>فروش اکانت، خدمات اینترنتی و گیفت کارت</p>

    <div class="flex full-width gradient-background align-center space-between-content navigate">
      <ul class="flex">
        <li>
          <a href="#">09135847536</a>
        </li>

        <li>
          <a href="#">09135847536</a>
        </li>
      </ul>

      <ul class="flex">
        <li>
          <a href="#">صفحه اصلی</a>
        </li>

        <li>
          <a href="#">محصولات</a>
        </li>

        <li>
          <a href="#">قوانین و مقررات</a>
        </li>

        <li>
          <a href="#">تماس با ما</a>
        </li>
      </ul>

      <ul class="flex social-media">
        <li>
          <a href="#">
            <i class="fa-brands fa-youtube"></i>
          </a>
        </li>

        <li>
          <a href="#">
            <i class="fa-brands fa-twitter"></i>
          </a>
        </li>

        <li>
          <a href="#">
            <i class="fa-brands fa-discord"></i>
          </a>
        </li>

        <li>
          <a href="#">
            <i class="fa-brands fa-facebook"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
