@use "../../../styles/mixin" as *;

.header {
  @include flex-box($direction: column);

  inline-size: min(1140px, 90%);
  font-size: 1.2rem;
  gap: 1rem;
  padding-block-start: 0.5rem;
}

.main {
  @include flex-box($direction: column);

  inline-size: min(1140px, 90%);
  gap: 5rem;
}

.footer {
  inline-size: 100%;
}
