<header class="flex column" id="header">
  <app-upper-header></app-upper-header>
  <app-lower-header [menu]="menu"></app-lower-header>
</header>

<main id="main" class="flex column">
  <app-banner></app-banner>
  <app-popular-game [items]="[
  {image: './assets/images/pubg.webp', title:'بازی پابجی موبایل', description: 'Buy pubg mobile', more: 'ادامه مطلب'},
  {image: './assets/images/pubg.webp', title:'بازی پابجی موبایل', description: 'Buy pubg mobile', more: 'ادامه مطلب'},
  {image: './assets/images/pubg.webp', title:'بازی پابجی موبایل', description: 'Buy pubg mobile', more: 'ادامه مطلب'},
  {image: './assets/images/pubg.webp', title:'بازی پابجی موبایل', description: 'Buy pubg mobile', more: 'ادامه مطلب'},
  {image: './assets/images/pubg.webp', title:'بازی پابجی موبایل', description: 'Buy pubg mobile', more: 'ادامه مطلب'}
  ]"></app-popular-game>
  <app-offer-game [items]="[
  {image: './assets/images/callofduty.webp', title: 'خرید پی آر کال آف دیوتی', description: 'buy cp game call of duty mobile', oldPrice: '2,500,000', price: '2,000,000'},
  {image: './assets/images/callofduty.webp', title: 'خرید پی آر کال آف دیوتی', description: 'buy cp game call of duty mobile', oldPrice: '2,500,000', price: '2,000,000'},
  {image: './assets/images/callofduty.webp', title: 'خرید پی آر کال آف دیوتی', description: 'buy cp game call of duty mobile', oldPrice: '2,500,000', price: '2,000,000'},
  {image: './assets/images/callofduty.webp', title: 'خرید پی آر کال آف دیوتی', description: 'buy cp game call of duty mobile', oldPrice: '2,500,000', price: '2,000,000'}
  ]"></app-offer-game>
</main>

<app-footer class="full-width"></app-footer>
