/* general css */

#header, #main{
  inline-size: min(1140px, 90%);
}

#main{
  gap:5rem;
}

  /* start header */

#header {
  font-size: 1.2rem;
  gap: 1rem;
  padding-block-start: 0.5rem;
}

/* end header */

/* Start Media Queries */

@media only screen and (max-width: 992px) {

  #footer .navigate {
    justify-content: center;
  }
}

@media only screen and (max-width: 576px) {

  #footer .navigate {
    justify-content: center;
  }
}

/* End Media Queries */
