$dark: hsl(217, 60%, 7%);
$dark-purple: hsl(228, 36%, 13%);
$grey: hsl(221, 36%, 21%);
$dark-white: hsl(0, 0%, 69%);
$gradient: linear-gradient(to right, hsl(258, 100%, 66%), hsl(238, 96%, 69%), hsl(319, 79%, 67%));
$white: hsl(0, 0%, 100%);;
