<section class="popular-game">
    <button class="right">
        <fa-icon [icon]="faArrowLeft"></fa-icon>
    </button>

    <ul>
        <li *ngFor="let item of items; trackBy: identify">
            <img [ngSrc]="item.image" alt="pubg banner" width="106" height="116">
            <h3>{{item.title}}</h3>
            <p>{{item.description}}</p>
            <a [routerLink]="item.link">
                ادامه مطلب
                <fa-icon [icon]="faArrowLeft"></fa-icon>
            </a>
        </li>
    </ul>

    <button class="left">
        <fa-icon [icon]="faArrowRight"></fa-icon>
    </button>
</section>
