@use "./../../../../../styles/variables" as *;
@use "./../../../../../styles/mixin" as *;

.popular-game ul::-webkit-scrollbar {
  block-size: 0;
}

.popular-game {
  position: relative;

  button {
    position: absolute;
    inset-block-start: 50%;
    transform: translateY(-50%);
    background-color: hsl(225, 28%, 30%);
    border-radius: 50%;
    inline-size: 5rem;
    block-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  button.right {
    inset-inline-end: -2.5rem;
    z-index: 1;
  }

  button.left {
    inset-inline-start: -2.5rem;
  }

  ul {
    @include flex-box();

    overflow-x: auto;
    gap: 2rem;

    li {
      background-color: $dark-purple;
      border-radius: 1.4rem;
      min-inline-size: 21rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-block-start: 3rem;
      padding-block-end: 1rem;

      img {
        inline-size: 50%;
        border-radius: 50%;
        padding-block-end: 1rem;
      }

      p {
        color: $dark-white;
        padding-block-start: 0.2rem;
      }
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.2rem;
    }
  }
}
