<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<header>

  <div>
    <img src="./../assets/icon.png" alt="game store logo">

    <h1>
      Game Store
    </h1>

    <nav>
      <ul>
        <li>
          <a href="#">خانه</a>
        </li>

        <li>
          <a href="#">محصولات</a>
        </li>

        <li>
          <a href="#">درباره ما</a>
        </li>

        <li>
          <a href="#">تماس با ما</a>
        </li>
      </ul>
    </nav>

    <button></button>

    <button>ورود به حساب</button>

  </div>

  <div>
    <nav>
      <ul>
        <li>
          <a href="#">
            بازی ها
          </a>
        </li>

        <li>
          <a href="#">
            انواع کیفیت کارت ها
          </a>
        </li>

        <li>
          <a href="#">
            خدمات
          </a>
        </li>

        <li>
          <a href="#">
            درون بازی ای
          </a>
        </li>

        <li>
          <a href="#">
            سوالات متداول
          </a>
        </li>
      </ul>
    </nav>

    <div>
      <button></button>
      <input placeholder="جست و جوی آیتم ها">
      <button></button>
    </div>
  </div>

</header>

<main>
</main>

<footer>
</footer>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<!-- <router-outlet></router-outlet> -->
