header{
  font-size: 1.2rem;
}

.top-header {
  margin-top: 0.5rem;
}

.top-header .logo {
  padding: 0.5rem;
  border-radius: 1rem;
  height: 5.5rem;
  margin-left: 1rem;
}

.top-header .navigate {
  margin: auto;
}

.top-header .navigate ul li a , .bottom-header ul li a{
  display: block;
  padding: 2rem 1.5rem;
}

.top-header .navigate ul li a , .bottom-header ul li a, .bottom-header ul li i::before{
  color: #b1b1b1;
}

.top-header .navigate ul .active a {
  color: white;
  border-top: 0.3rem solid white;
}

.top-header .cart {
  padding: 2rem;
}

.top-header .account {
  background-color: white;
  padding: 1.5rem;
  border-radius: 5rem;
}

.top-header .account, .top-header .account i::before{
  color: var(--dark-purple);
}

.bottom-header {
  margin-top: 1rem;
  border-radius: 1.5rem;
  background-color: #151a2d;
}

.bottom-header nav {
  margin-left: auto;
}

.bottom-header ul li a i {
  font-size: 1rem;
}

.bottom-header ul li.active a, .bottom-header ul li.active a i::before{
  color: white!important;
}

.bottom-header ul li.active{
  position: relative;
}

.bottom-header ul li.active::before {
  content: "";
  display: inline-block;
  background-color: var(--dark-purple);
  width: 42%;
  height: 1.5rem;
  position: absolute;
  bottom: -0.6rem;
  right: 4.5rem;
  border-radius: 1rem 1rem 0;
}

.bottom-header ul li.active::after{
  content: "";
  display: inline-block;
  background-color: white;
  width: 15%;
  height: 0.2rem;
  position: absolute;
  bottom: -0.1rem;
  right: 6.5rem;
  border-radius: 1rem;
}

.bottom-header .search {
  margin-left: 1.2rem;
  border-radius: 0.7rem;
}

.bottom-header .search > * {
  margin: 0.6rem;
  padding: 0.6rem;
}

.bottom-header .search .filter {
  position: relative;
  border-radius: 0.4rem;
}

.bottom-header .search .filter i{
  vertical-align: -0.2rem;
}

.bottom-header .search .filter::before{
  content: "";
  position: absolute;
  width: 0.2rem;
  height: 80%;
  display: inline-block;
  background-color: rgba(177, 177, 177, 0.5);
  right: -1rem;
  top: 0.4rem;
}


