<header class="flex column align-center" id="header">
  <div class="flex align-center full-width top-header">
    <img src="./assets/images/icon.png" alt="game store logo" class="logo grey-background">

    <h1>فروشگاه بازی</h1>

    <nav class="navigate">
      <ul class="flex">
        <li class="active">
          <a href="#">خانه</a>
        </li>

        <li>
          <a href="#">محصولات</a>
        </li>

        <li>
          <a href="#">درباره ما</a>
        </li>

        <li>
          <a href="#">تماس با ما</a>
        </li>
      </ul>
    </nav>

    <a href="#" class="cart">
      <i class="fa-solid fa-cart-shopping"></i>
    </a>

    <a href="#" class="account">
      <i class="fa-solid fa-user"></i>
      <span>ورود به حساب</span>
    </a>
  </div>

  <div class="flex align-center full-width bottom-header">
    <div class="burger-menu"><i class="fa-solid fa-bars fa-2xl"></i></div>
    <nav>
      <ul class="flex">
        <li>
          <a href="#">
            بازی ها
            <i class="fa-solid fa-chevron-down"></i>
          </a>
        </li>

        <li class="active">
          <a href="#">
            انواع کیفیت کارت ها
            <i class="fa-solid fa-chevron-down"></i>
          </a>
        </li>

        <li>
          <a href="#">
            خدمات
            <i class="fa-solid fa-chevron-down"></i>
          </a>
        </li>

        <li>
          <a href="#">
            درون بازی ای
            <i class="fa-solid fa-chevron-down"></i>
          </a>
        </li>

        <li>
          <a href="#">
            سوالات متداول
            <i class="fa-solid fa-chevron-down"></i>
          </a>
        </li>
      </ul>
    </nav>

    <div class="dark-background search">
      <button>
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>

      <input placeholder="جست و جوی آیتم ها">

      <button class="grey-background filter">
        <i class="fa-solid fa-filter"></i>
      </button>
    </div>
  </div>
</header>

<main id="main">
  <section class="flex align-center banner">
    <img src="./assets/images/banner.png" alt="site banner">
    <div class="flex align-center column">
      <div class="title">
        <h3>
          با فروشگاه بازی خاص ترین
          <br>
          <span>بازیکن بازی باش</span>
        </h3>

        <p>همه گیمر ها امروز ناچار به استفاده از سرویس های پولی شرکت ها و کمپانی های بزرگ هستند</p>
      </div>

      <div class="flex">
        <a href="#" class="gradient-background">
          خرید آیتم های بازی
          <i class="fa-solid fa-arrow-left"></i>
        </a>

        <a href="#">
          آیتم های بازی
          <i class="fa-solid fa-arrow-left"></i>
        </a>
      </div>

      <div class="items">
        <ul class="flex">
          <li>
            <i class="fa-solid fa-truck-ramp-box"></i>
            <p>تحویل آنی</p>
            <p>نیاز نیست صبر کنی!</p>
          </li>

          <li>
            <i class="fa-solid fa-comments"></i>
            <p>پشتیبانی</p>
            <p>پاسخگویی ۲۴ ساعته تیم ما</p>
          </li>

          <li>
            <i class="fa-solid fa-star"></i>
            <p>رضایت مشتریان</p>
            <p>اولویت ما رضایت مشتریانمون هست</p>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class="popular-game">
    <button class="right">
      <i class="fa-solid fa-arrow-right"></i>
    </button>

    <ul class="flex">
      <li>
        <img src="./assets/images/pubg.png" alt="pubg banner">
        <h3>بازی پابجی موبایل</h3>
        <p>Buy pubg mobile</p>
        <a href="#">
          ادامه مطلب
          <i class="fa-solid fa-arrow-left"></i>
        </a>
      </li>

      <li>
        <img src="./assets/images/pubg.png" alt="pubg banner">
        <h3>بازی پابجی موبایل</h3>
        <p>Buy pubg mobile</p>
        <a href="#">
          ادامه مطلب
          <i class="fa-solid fa-arrow-left"></i>
        </a>
      </li>

      <li>
        <img src="./assets/images/pubg.png" alt="pubg banner">
        <h3>بازی پابجی موبایل</h3>
        <p>Buy pubg mobile</p>
        <a href="#">
          ادامه مطلب
          <i class="fa-solid fa-arrow-left"></i>
        </a>
      </li>

      <li>
        <img src="./assets/images/pubg.png" alt="pubg banner">
        <h3>بازی پابجی موبایل</h3>
        <p>Buy pubg mobile</p>
        <a href="#">
          ادامه مطلب
          <i class="fa-solid fa-arrow-left"></i>
        </a>
      </li>

      <li>
        <img src="./assets/images/pubg.png" alt="pubg banner">
        <h3>بازی پابجی موبایل</h3>
        <p>Buy pubg mobile</p>
        <a href="#">
          ادامه مطلب
          <i class="fa-solid fa-arrow-left"></i>
        </a>
      </li>

      <li>
        <img src="./assets/images/pubg.png" alt="pubg banner">
        <h3>بازی پابجی موبایل</h3>
        <p>Buy pubg mobile</p>
        <a href="#">
          ادامه مطلب
          <i class="fa-solid fa-arrow-left"></i>
        </a>
      </li>
    </ul>

    <button class="left">
      <i class="fa-solid fa-arrow-left"></i>
    </button>
  </section>

  <section class="flex align-center offer">
    <div class="text">
      <i class="fa-solid fa-percent"></i>

      <h3>
        تخفیفات
        <br>
        <span>شگفت انگیز</span>
      </h3>

      <a href="#">مشاهده همه<i class="fa-solid fa-arrow-left"></i></a>
    </div>

    <div class="carousel">
      <button class="right">
        <i class="fa-solid fa-arrow-right"></i>
      </button>

      <ul class="flex">
        <li>
          <img src="./assets/images/callofduty.jpg" alt="call of duty banner">

          <div class="flex column align-center space-between-content description">
            <div class="flex column align-center">
              <h3>خرید سی پی کال آف دیوتی موبایل</h3>
              <p>by cp game call of duty mobile</p>
            </div>

            <div class="flex space-between-content full-width">
              <button>
                <i class="fa-solid fa-cart-shopping"></i>
              </button>

              <div class="flex column price align-end">
                <del>2,500,000</del>
                <p>2,000,000</p>
              </div>
            </div>
          </div>
        </li>

        <li>
          <img src="./assets/images/callofduty.jpg" alt="call of duty banner">

          <div class="flex column align-center space-between-content description">
            <div class="flex column align-center">
              <h3>خرید سی پی کال آف دیوتی موبایل</h3>
              <p>by cp game call of duty mobile</p>
            </div>

            <div class="flex space-between-content full-width">
              <button>
                <i class="fa-solid fa-cart-shopping"></i>
              </button>

              <div class="flex column price align-end">
                <del>2,500,000</del>
                <p>2,000,000</p>
              </div>
            </div>
          </div>
        </li>

        <li>
          <img src="./assets/images/callofduty.jpg" alt="call of duty banner">

          <div class="flex column align-center space-between-content description">
            <div class="flex column align-center">
              <h3>خرید سی پی کال آف دیوتی موبایل</h3>
              <p>by cp game call of duty mobile</p>
            </div>

            <div class="flex space-between-content full-width">
              <button>
                <i class="fa-solid fa-cart-shopping"></i>
              </button>

              <div class="flex column price align-end">
                <del>2,500,000</del>
                <p>2,000,000</p>
              </div>
            </div>
          </div>
        </li>

        <li>
          <img src="./assets/images/callofduty.jpg" alt="call of duty banner">

          <div class="flex column align-center space-between-content description">
            <div class="flex column align-center">
              <h3>خرید سی پی کال آف دیوتی موبایل</h3>
              <p>by cp game call of duty mobile</p>
            </div>

            <div class="flex space-between-content full-width">
              <button>
                <i class="fa-solid fa-cart-shopping"></i>
              </button>

              <div class="flex column price align-end">
                <del>2,500,000</del>
                <p>2,000,000</p>
              </div>
            </div>
          </div>
        </li>
      </ul>

      <button class="left">
        <i class="fa-solid fa-arrow-left"></i>
      </button>
    </div>
  </section>
</main>

<footer class="flex column align-center  full-width" id="footer">
  <img src="assets/images/icon.png" alt="game store logo" class="logo grey-background">

  <h3 class="title">فروشگاه بازی</h3>

  <p>فروش اکانت، خدمات اینترنتی و گیفت کارت</p>

  <div class="flex full-width gradient-background align-center space-between-content navigate">
    <ul class="flex">
      <li>
        <a href="#">09135847536</a>
      </li>

      <li>
        <a href="#">09135847536</a>
      </li>
    </ul>

    <ul class="flex">
      <li>
        <a href="#">صفحه اصلی</a>
      </li>

      <li>
        <a href="#">محصولات</a>
      </li>

      <li>
        <a href="#">قوانین و مقررات</a>
      </li>

      <li>
        <a href="#">تماس با ما</a>
      </li>
    </ul>

    <ul class="flex social-media">
      <li>
        <a href="#">
          <i class="fa-brands fa-youtube"></i>
        </a>
      </li>

      <li>
        <a href="#">
          <i class="fa-brands fa-twitter"></i>
        </a>
      </li>

      <li>
        <a href="#">
          <i class="fa-brands fa-discord"></i>
        </a>
      </li>

      <li>
        <a href="#">
          <i class="fa-brands fa-facebook"></i>
        </a>
      </li>
    </ul>
  </div>
</footer>

<!-- <router-outlet></router-outlet> -->
