/* general css */
#header, #main {
  width: min(1140px, 90%);
}

/* start header */

#header {
  font-size: 1.2rem;
}

.top-header {
  margin-top: 0.5rem;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.top-header .logo, #footer .logo {
  padding: 0.5rem;
  border-radius: 1rem;
  height: 5.5rem;
  margin-left: 1rem;
}

.top-header .navigate {
  margin: auto;
}

.bottom-header {
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.top-header .navigate ul li a, .bottom-header ul li a {
  display: block;
  padding: 2rem 1.5rem;
}

.top-header .navigate ul li a, .bottom-header ul li a, .bottom-header ul li i::before {
  color: var(--dark-white);
}

.top-header .navigate ul .active a {
  color: hsl(0, 0%, 100%);
  border-top: 0.3rem solid hsl(0, 0%, 100%);
}

.top-header .cart {
  padding: 2rem;
}

.top-header .account {
  background-color: hsl(0, 0%, 100%);
  padding: 1.5rem;
  border-radius: 5rem;
}

.top-header .account span, .top-header .account i::before {
  color: var(--dark);
}

.bottom-header {
  margin-top: 1rem;
  border-radius: 1.5rem;
  background-color: var(--dark-purple);
}

.bottom-header .burger-menu {
  margin-right: 2rem;
  display: none;
}

.bottom-header nav {
  margin-left: auto;
}

.bottom-header ul li a i {
  font-size: 1rem;
}

.bottom-header ul li.active a, .bottom-header ul li.active a i::before {
  color: hsl(0, 0%, 100%);
}

.bottom-header ul li.active {
  position: relative;
}

.bottom-header ul li.active::before {
  content: "";
  display: inline-block;
  background-color: var(--dark);
  width: 42%;
  height: 1.5rem;
  position: absolute;
  bottom: -0.6rem;
  right: 4.5rem;
  border-radius: 1rem 1rem 0;
}

.bottom-header ul li.active::after {
  content: "";
  display: inline-block;
  background-color: hsl(0, 0%, 100%);
  width: 15%;
  height: 0.2rem;
  position: absolute;
  bottom: -0.1rem;
  right: 6.5rem;
  border-radius: 1rem;
}

.bottom-header .search {
  margin-left: 1.2rem;
  border-radius: 0.7rem;
}

.bottom-header .search > * {
  margin: 0.6rem;
  padding: 0.6rem;
}

.bottom-header .search .filter {
  position: relative;
  border-radius: 0.4rem;
}

.bottom-header .search .filter i {
  vertical-align: -0.2rem;
}

.bottom-header .search .filter::before {
  content: "";
  position: absolute;
  width: 0.2rem;
  height: 80%;
  display: inline-block;
  background-color: hsla(0, 0%, 69%, 0.5);
  right: -1rem;
  top: 0.4rem;
}

/* end header */

/* start banner */

.banner {
  margin-top: 3rem;
  flex-wrap: wrap;
  justify-content: center;
}

.banner img {
  width: 50rem;
}

.banner .title {
  font-size: 3rem;
}

.banner .title span {
  background: linear-gradient(to left, hsl(0, 0%, 100%), hsla(0, 0%, 100%, 0.1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 6rem;
}

.banner .title p {
  margin: 1.2rem 0;
  font-size: 1.2rem;
  color: var(--dark-white);
}

.banner a {
  padding: 1rem 2rem;
  margin: 1.2rem 0 2.5rem 1.2rem;
  font-size: 1.4rem;
  border-radius: 5rem;
}

.banner a i {
  margin-right: 0.3rem;
  vertical-align: -0.3rem;
}

.banner .items ul {
  gap: 2rem;
}

.banner .items ul li i {
  font-size: 2.5rem;
  margin-bottom: 1.2rem;
}

.banner .items p:first-child {
  font-size: 1.6rem;
}

.banner .items p:last-child {
  margin-top: 0.8rem;
  font-size: 1.2rem;
  color: var(--dark-white);
}

.banner .items li .fa-truck-ramp-box::before {
  background: linear-gradient(to right, hsl(341, 92%, 69%), hsl(327, 33%, 45%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner .items li .fa-comments::before {
  background: linear-gradient(to right, hsl(258, 49%, 57%), hsl(250, 23%, 36%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner .items li .fa-star::before {
  background: linear-gradient(to right, hsl(9, 97%, 75%), hsl(346, 12%, 35%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* end banner */

/* start popular game */

.popular-game {
  margin-top: 5rem;
}

.popular-game ul::-webkit-scrollbar {
  height: 0;
}

.popular-game, .offer .carousel {
  position: relative;
}

.popular-game button, .offer .carousel :is(button.right, button.left) {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: hsl(225, 28%, 30%);
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popular-game button.right, .offer .carousel button.right {
  right: -2.5rem;
  z-index: 1;
}

.popular-game button.left, .offer .carousel button.left {
  left: -2.5rem;
}

.popular-game ul, .offer .carousel ul {
  overflow-x: auto;
  gap: 2rem;
}

.popular-game ul li {
  background-color: var(--dark-purple);
  border-radius: 1.4rem;
  min-width: 21rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 0 1rem 0;
}

.popular-game ul li img {
  width: 50%;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.popular-game ul li p, .offer .carousel ul li .description p, .offer .carousel ul li .description del {
  color: var(--dark-white);
  margin-top: 0.2rem;
}

.popular-game ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

/* end popular game */

/* start offer */

.offer {
  margin: 5rem 0;
  background-color: hsl(228, 36%, 13%);
  border-radius: 1.4rem;
  padding: 5rem;
  gap: 5rem;
}

.offer .text {
  flex: 3;
}

.offer .text .fa-percent {
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 6rem;
  margin-bottom: 2rem;
}

.offer .text h3 {
  font-size: 3rem;
  font-weight: lighter;
  margin-bottom: 2rem;
}

.offer .text h3 span {
  font-weight: bold;
}

.offer .text a {
  font-size: 1.4rem;
}

.offer .text a i {
  vertical-align: -0.2rem;
  padding-right: 0.8rem;
}

.offer .carousel {
  flex: 7;
  width: 0;
}

.offer .carousel ul {

}

.offer .carousel ul::-webkit-scrollbar {
  height: 0;
}

.offer .carousel ul li {
  min-width: 23rem;
  position: relative;
}

.offer .carousel ul li img {
  width: 100%;
  border-radius: 1.4rem;
}

.offer .carousel ul li .description {
  position: absolute;
  bottom: 0.5rem;
  width: 100%;
  height: 50%;
  border-radius: 1.4rem;
  background-color: hsla(0, 0%, 0%, 0.73);
  padding: 3rem;
}

.offer .carousel ul li .description .price p {
  color: hsl(0, 0%, 100%);
  font-size: 1.2rem;
}

/* end offer */

/* start footer */

#footer {
  background-color: var(--dark-purple);
  padding: 2rem;
}

#footer .title {
  font-size: 2.4rem;
  margin-top: 2rem;
}

#footer p {
  font-size: 1.2rem;
  color: var(--dark-white);
  margin-bottom: 2rem;
}

#footer .navigate {
  font-size: 1.2rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
  flex-wrap: wrap;
  gap: 1rem;
}

#footer .navigate ul {
  gap: 2rem;
}

#footer .navigate .social-media li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: hsl(260, 63%, 58%);
  border: 0.01rem solid hsla(0, 0%, 20%, 0.43);
}

/* end footer */

/* Start Media Queries */

@media only screen and (max-width: 992px) {

  .top-header .account span {
    display: none;
  }

  .bottom-header {
    position: relative;
    padding: 1rem;
    justify-content: space-between;
  }

  .bottom-header .burger-menu {
    display: block;
  }

  .bottom-header nav {
    display: none;
  }

  .bottom-header .burger-menu:hover + nav {
    display: block;
  }

  .bottom-header nav {
    position: absolute;
    bottom: -8rem;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    background: var(--dark-purple);
    box-shadow: 0 8px 32px 0 hsla(236, 63%, 33%, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid hsla(0, 0%, 100%, 0.18);
    border-radius: 1.5rem;
  }

  .bottom-header nav li::before {
    display: none !important;
  }

  .bottom-header nav li::after {
    display: none !important;
  }

  #footer .navigate {
    justify-content: center;
  }
}

@media only screen and (max-width: 576px) {
  .burger-menu:hover, .bottom-header nav {
    bottom: -10rem;
  }

  #footer .navigate {
    justify-content: center;
  }
}

/* End Media Queries */
