<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<header>

  <div>
    <img src="./../assets/icon.png" alt="game store logo">

    <h1>
      Game Store
    </h1>

    <nav>
      <ul>
        <li>
          <a href="#">خانه</a>
        </li>

        <li>
          <a href="#">محصولات</a>
        </li>

        <li>
          <a href="#">درباره ما</a>
        </li>

        <li>
          <a href="#">تماس با ما</a>
        </li>
      </ul>
    </nav>

    <button></button>

    <button>ورود به حساب</button>

  </div>

  <div>
    <nav>
      <ul>
        <li>
          <a href="#">
            بازی ها
          </a>
        </li>

        <li>
          <a href="#">
            انواع کیفیت کارت ها
          </a>
        </li>

        <li>
          <a href="#">
            خدمات
          </a>
        </li>

        <li>
          <a href="#">
            درون بازی ای
          </a>
        </li>

        <li>
          <a href="#">
            سوالات متداول
          </a>
        </li>
      </ul>
    </nav>

    <div>
      <button></button>
      <input placeholder="جست و جوی آیتم ها">
      <button></button>
    </div>
  </div>

</header>

<main>
  <section>
    <img src="" alt="">
    <div>
      <h3>
        با وی کی خاص ترین
        <span>بازیکن بازی باش</span>
      </h3>
      <p>همه گیمر ها امروز ناچار به استفاده از سرویس های پولی شرکت ها و کمپانی های بزرگ هستند</p>
    </div>
    <div>
      <button>خرید آیتم های بازی</button>
      <button>آیتم های بازی</button>
    </div>
    <div>
      <ul>
        <li>
          <img src="#" alt="">
          <p>تحویل آنی</p>
          <p>نیاز نیست صبر کنی!</p>
        </li>
        <li>
          <img src="#" alt="">
          <p>پشتیبانی</p>
          <p>پاسخگویی ۲۴ ساعته تیم ما</p>
        </li>
        <li>
          <img src="#" alt="">
          <p>رضایت مشتریان</p>
          <p>اولویت ما رضایت مشتریانمون هست</p>
        </li>
      </ul>
    </div>
  </section>
  <section>
    <button></button>
    <ul>
      <li>
        <img src="" alt="">
        <h3>بازی پابجی موبایل</h3>
        <p>Buy pubg mobile</p>
        <a href="#">ادامه مطلب</a>
      </li>
      <li>
        <img src="" alt="">
        <h3>بازی پابجی موبایل</h3>
        <p>Buy pubg mobile</p>
        <a href="#">ادامه مطلب</a>
      </li>
      <li>
        <img src="" alt="">
        <h3>بازی پابجی موبایل</h3>
        <p>Buy pubg mobile</p>
        <a href="#">ادامه مطلب</a>
      </li>
      <li>
        <img src="" alt="">
        <h3>بازی پابجی موبایل</h3>
        <p>Buy pubg mobile</p>
        <a href="#">ادامه مطلب</a>
      </li>
      <li>
        <img src="" alt="">
        <h3>بازی پابجی موبایل</h3>
        <p>Buy pubg mobile</p>
        <a href="#">ادامه مطلب</a>
      </li>
      <li>
        <img src="" alt="">
        <h3>بازی پابجی موبایل</h3>
        <p>Buy pubg mobile</p>
        <a href="#">ادامه مطلب</a>
      </li>
    </ul>
    <button></button>
  </section>
</main>

<footer>
</footer>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<!-- <router-outlet></router-outlet> -->
