ul{
  display: flex;
  gap: 2rem;

  li a {
    display: flex;
    justify-content: center;
    align-items: center;
    inline-size: 3rem;
    block-size: 3rem;
    border-radius: 50%;
    background-color: hsl(260, 63%, 58%);
    border: 0.01rem solid hsla(0, 0%, 20%, 0.43);
  }
}

