<section class="flex align-center banner">
  <img src="../../../../../assets/images/banner.webp" alt="site banner">
  <div class="flex align-center column">
    <div class="title">
      <h3>
        با فروشگاه بازی خاص ترین
        <br>
        <span>بازیکن بازی باش</span>
      </h3>
      <p>همه گیمر ها امروز ناچار به استفاده از سرویس های پولی شرکت ها و کمپانی های بزرگ هستند</p>
    </div>
    <div class="flex">
      <app-banner-button [item]="{style: 'gradient-background', text: 'خرید آیتم های بازی', link: '#'}"></app-banner-button>
      <app-banner-button [item]="{style: '', text: 'دیگر خریدها', link: '#'}"></app-banner-button>
    </div>
    <app-banner-item [items]="[
    {icon: 'fa-solid fa-truck-ramp-box', title: 'تحویل آنی', description: 'نیاز نیست صبر کنی!'},
    {icon: 'fa-solid fa-comments', title: 'پشتیبانی', description: 'پاسخگویی ۲۴ ساعته'},
    {icon: 'fa-solid fa-star', title: 'رضایت مشتریان', description: 'اولویت ما رضایت مشتریانمان است'}
    ]">
    </app-banner-item>
  </div>
</section>
