<section class="banner">
  <img ngSrc="/assets/images/banner.webp" alt="site banner" height="500" width="500">
  <div class="part">
    <div class="title">
      <h3>
        با فروشگاه بازی خاص ترین
        <br>
        <span>بازیکن بازی باش</span>
      </h3>
      <p>همه گیمر ها امروز ناچار به استفاده از سرویس های پولی شرکت ها و کمپانی های بزرگ هستند</p>
    </div>
    <div class="buttons">
      <app-banner-button [item]="buyItemsButton"></app-banner-button>
      <app-banner-button [item]="buyOthersButton"></app-banner-button>
    </div>
    <app-banner-item [items]="options"></app-banner-item>
  </div>
</section>
