@use "./../../../../../styles/mixin" as *;
@use "./../../../../../styles/variables" as *;

.banner {
  @include flex-box($align: center);
  flex-wrap: wrap;
  justify-content: center;

  .part {
    @include flex-box($direction: column, $align: center);
    gap: 2.4rem;
  }

  .buttons {
    @include flex-box();
  }

  img {
    inline-size: 50rem;
  }

  .title {
    font-size: 3rem;

    span {
      background: linear-gradient(to left, hsl(0, 0%, 100%), hsla(0, 0%, 100%, 0.1));

      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      font-size: 6rem;
    }

    p {
      color: var(--dark-white);

      padding-block-end: 1.2rem;

      font-size: 1.2rem;
    }
  }
}
