<div *ngIf="menu.length != 0" class="flex align-center full-width lower-part space-between-content">
  <div class="burger-menu"><i class="fa-solid fa-bars fa-2xl"></i></div>
  <nav>
    <ul class="flex">
      <li *ngFor="let item of menu" [ngClass]="{'active' : item.active}">
        <a href="#">
          {{item.name}}
          <i class="fa-solid fa-chevron-down"></i>
        </a>
      </li>
    </ul>
  </nav>

  <div class="dark-background search">
    <button>
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>

    <input placeholder="جست و جوی آیتم ها">

    <button class="grey-background filter">
      <i class="fa-solid fa-filter"></i>
    </button>
  </div>
</div>
