/* You can add global styles to this file, and also import other style files */
:root {
  --dark: #070f1c;
  --dark-purple: #151a2d;
  --grey: #222e48;
  --dark-white: #b1b1b1;
  --gradient: linear-gradient(to right, #8854ff, #6268fc, #ed68c3);
}

@font-face {
  font-family: Vazir;
  src: url('assets/fonts/Vazir.eot');
  src: url('assets/fonts/Vazir.woff') format('woff'),
  url('assets/fonts/Vazir.ttf') format('truetype');
  font-weight: normal;
}

*, *::before, *::after {
  direction: rtl;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

*{
  font-family: "Vazir", serif;
}

html{
  font-size: 62.5%;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--dark);
}

button, input {
  background: transparent;
  border: none;
}

input:focus-visible{
  outline: none;
}

app-root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.space-between-content{
  justify-content: space-between;
}

.dark-background {
  background-color: var(--dark);
}

.grey-background {
  background-color: var(--grey);
}

.gradient-background{
  background: var(--gradient);
}

.full-width{
  width: 100%;
}


