<div class="flex align-center full-width upper-part space-between-content">
  <div class="flex align-center brand">
    <img src="./assets/images/icon.webp" alt="game store logo" class="logo grey-background">

    <h1>فروشگاه بازی</h1>
  </div>

  <nav class="navigate">
    <ul class="flex">
      <li class="active">
        <a href="#">خانه</a>
      </li>

      <li>
        <a href="#">محصولات</a>
      </li>

      <li>
        <a href="#">درباره ما</a>
      </li>

      <li>
        <a href="#">تماس با ما</a>
      </li>
    </ul>
  </nav>

  <div class="flex align-center">
    <a href="#" class="cart">
      <i class="fa-solid fa-cart-shopping"></i>
    </a>

    <a href="#" class="flex align-center account">
      <i class="fa-solid fa-user"></i>
      <span>ورود به حساب</span>
    </a>
  </div>
</div>
