<div class="upper-part">
  <div class="brand">
    <img ngSrc="/assets/images/icon.webp" alt="game store logo" class="logo grey-background" width="55" height="55">

    <h1>فروشگاه بازی</h1>
  </div>

  <nav class="navigate">
    <ul>
      <li class="active">
        <a [routerLink]="['/']">خانه</a>
      </li>

      <li>
        <a [routerLink]="['/product']">محصولات</a>
      </li>

      <li>
        <a [routerLink]="['/about-us']">درباره ما</a>
      </li>

      <li>
        <a [routerLink]="['/contact-us']">تماس با ما</a>
      </li>
    </ul>
  </nav>

  <div class="login">
    <a [routerLink]="['/cart']" class="cart">
      <i class="fa-solid fa-cart-shopping"></i>
    </a>

    <a [routerLink]="['/account']" class="account">
      <i class="fa-solid fa-user"></i>
      <span>ورود به حساب</span>
    </a>
  </div>
</div>
