@use "./../../../styles/mixin" as *;
@use "./../../../styles/variables" as *;

.upper-part{
  @include flex-box($align: center, $justify: space-between);

  flex-wrap: wrap;
  gap: 1rem;

  .brand{
    @include flex-box($align: center);

    gap: 1rem;
  }

  .logo{
    padding: 0.5rem;
    border-radius: 1rem;
    block-size: 5.5rem;
    background-color: $dark-purple;
  }

  .navigate {
    ul {
      @include flex-box();

      li a {
        display: block;
        padding: 2rem 1.5rem;
        color: $dark-white;
      }

      .active a {
        color: $white;
        border-top: 0.3rem solid $white;
      }
    }
  }

  .login {
    @include flex-box($align: center);

    .cart {
      padding: 2rem;
    }

    .account {
      @include flex-box($align: center);

      background-color: $white;
      padding: 1.5rem;
      border-radius: 5rem;
      gap: 1rem;

      span, i::before {
        color: $dark;
      }
    }


  }
}

@media only screen and (max-width: 992px) {

  .upper-part .account span {
    display: none;
  }
}
